<div class="container">
  <div class="user-details">
    <h4>About me</h4>
    <p>I &nbsp;<span style="color: red">♥</span>:design,classical music,movies,poem,philosophy,pingpong,sci-fi,video game.</p>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-less-plain-wordmark colored"></i>
      <p>html5 | Bootstarp | less</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-php-plain colored"></i>
      <p>JavaScript | Angular | PHP</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <p>Git | Gulp | MySQL</p>
    </div>
  </div>
</div>
