<div class="container">
  <div class="user-details">
    <h4 style="font-weight: 500">我的展示</h4>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img src="{{ "/assets/img/sea.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>我的前端学习之旅</h5>
      <br>
      <li><a href="https://huangpuyuan.github.io/app_angularJS/dist/" target="_blank">我的第一个单页应用</a></li>
      <li><a href="https://github.com/huangpuyuan/myExercises-FrontEnd/issues/1" target="_blank">JAVASCRIPT WITHOUT
        LOOPS</a></li>
      <li><a href="https://github.com/huangpuyuan/Angular2Action/issues/1" target="_blank">学会使用angular2</a></li>
      <li><a href="https://github.com/huangpuyuan/restfulAPI/issues/1" target="_blank">RESTful API设计指南</a></li>
      <p>......</p>
      <a class="project-link" href="https://huangpuyuan.github.io/myExercises-FrontEnd/">查看更多</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img src="{{ "/assets/img/Waterside.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>移动适配的H5页面</h5>
      <br>
      <ul>
        <li>Angularjs</li>
        <li>bootstrap</li>
      </ul>
      <p>展示活动和书画作品集的web页面</p>
      <a class="project-link" href="http://zt.hkstv.tv/api/" target="_blank">查看</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img src="{{ "/assets/img/poem.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>让灵魂片刻自由</h5>
      <p style="text-indent:5em;">————
        <small>为你读诗</small>
      </p>
      <ul>
        <li>
          <a target="_blank" href="https://api.thepoemforyou.com/share/userProgram/commonShare/909819?from=singlemessage&isappinstalled=1">
            一本书
          </a>
          <small>作者：艾米莉·狄金森</small>
        </li>
        <li>
          <a target="_blank" href="https://api.thepoemforyou.com/share/userProgram/commonShare/680263">
            我会像青草一样呼吸
          </a>
          <small>作者：顾城</small>
        </li>
        <li>
          <a target="_blank" href="https://api.thepoemforyou.com/share/userProgram/commonShare/679092">
            远方
          </a>
          <small>作者：三毛</small>
        </li>
        <li>
          <a target="_blank" href="https://api.thepoemforyou.com/share/userProgram/commonShare/660304">
            乡愁
          </a>
          <small>作者：席慕蓉</small>
        </li>
      </ul>
      <p>诗中有画，画中有诗，闲来无事喜欢读诗</p>
      <!--<a class="project-link" href="http://zt.hkstv.tv/api/" target="_blank">查看</a>-->
    </div>
  </div>
</div>
