<div class="container">
  <div class="user-details">
    <h4 style="font-weight: 500">我的展示</h4>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img src="{{ "/assets/img/sea.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>我的前端学习之旅</h5>
      <br>
      <ul>
      <li><a href="https://huangpuyuan.github.io/app_angularJS/dist/" target="_blank">我的第一个单页应用</a></li>
      <li><a href="http://zt.hkstv.tv/api/" target="_blank">移动适配的名人书画展</a></li>
      <li><a href="https://huangpuyuan.github.io/myremindtask/" target="_blank">我的任务清单</a></li>
      <li><a href="https://github.com/huangpuyuan/myExercises-FrontEnd/issues/1" target="_blank">JAVASCRIPT WITHOUT
        LOOPS</a></li>
      <li><a href="https://github.com/huangpuyuan/Angular2Action/issues/1" target="_blank">学会使用angular2</a></li>
      <li><a href="https://github.com/huangpuyuan/restfulAPI/issues/1" target="_blank">RESTful API设计指南</a></li>
      </ul>
      <a class="project-link" href="https://huangpuyuan.github.io/myExercises-FrontEnd/">查看更多</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img src="{{ "/assets/img/Waterside.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5><a style="color:black" href="https://huangpuyuan.github.io/reverie">我的学习笔记</h5>
      <br>
      <ul>
        <li><a href="https://www.huangpuyuan.cn/reverie/how-to-research-(1)/" target="_blank">如何做好研究</a></li>
      </ul>
      <p>记录些许的心得体会</p>
      <a class="project-link" href="https://huangpuyuan.github.io/reverie" target="_blank">查看</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img src="{{ "/assets/img/poem.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>让灵魂片刻自由</h5>
      <p style="text-indent:5em;">————
        <small>为你读诗</small>
      </p>
      <ul>
        <li>
          <a target="_blank" href="https://api.thepoemforyou.com/share/userProgram/commonShare/909819?from=singlemessage&isappinstalled=1">
            一本书
          </a>&nbsp;
          <small>作者：艾米莉·狄金森</small>
        </li>
        <li>
          <a target="_blank" href="https://api.thepoemforyou.com/share/userProgram/commonShare/680263">
            我会像青草一样呼吸
          </a>&nbsp;
          <small>作者：顾城</small>
        </li>
        <li>
          <a target="_blank" href="https://api.thepoemforyou.com/share/userProgram/commonShare/679092">
            远方
          </a>&nbsp;
          <small>作者：三毛</small>
        </li>
        <li>
          <a target="_blank" href="https://api.thepoemforyou.com/share/userProgram/commonShare/660304">
            乡愁
          </a>&nbsp;
          <small>作者：席慕蓉</small>
        </li>
      </ul>
      <p>诗中有画，画中有诗，闲来无事喜欢读诗</p>
      <!--<a class="project-link" href="http://zt.hkstv.tv/api/" target="_blank">查看</a>-->
    </div>
  </div>
  <div class="user-details">

    <h4>About me</h4>
    <p>I &nbsp;<span style="color: red">♥</span>:design,classical music,movies,poem,philosophy,pingpong,sci-fi,video game.</p>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-less-plain-wordmark colored"></i>
      <p>html5 | Bootstarp | less</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-php-plain colored"></i>
      <p>JavaScript | Angular | PHP</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <p>Git | Gulp | MySQL</p>
    </div>
  </div>

</div>
